*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
#app{
    padding-top: 80px;
}
#header{
    width:100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 150px;
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999999999999999;
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
    #menu{
        position: absolute;
        top: calc(50% - 20px);
        right:25px;
        font-size: 40px;
        color:#1484c4;
        z-index: 99999;
        cursor: pointer;
        display: none;
    }
    #menu.open{
        color:#fff;
        &::before{
            content : "\f00d";
        }
    }
   
    #logo{
        display: block;
        min-width:180px;
        height: 46px;
        background:url('./images/logo.png') center no-repeat;
        background-size: contain;
    }
   
    ul{
        display: flex;
        height: 100%;
        li{
            display: inline-block;
            width:120px;
            height: 100%;
            a{
                color:#616e76;
                font-size: 17px;
                font-weight: 600;
                width:100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover{
                    background-color: #F1F1F1;
                    border-bottom: 10px #1484c4 solid;
                }
            }
        }
    }

    @media screen and (max-width:1024px){
        justify-content: center;
        padding:0;
        position: fixed;
        z-index: 99999999;
        #menu{
            display: block;
        }
        ul{
            position: fixed;
            top: -100vh;
            left: 0;
            width:100%;
            height: 100vh;
            background-color: rgba(20, 132, 196, .8);
            z-index: 999;
            flex-direction: column;
            justify-content: center;
            transition: .5s;
            li{
                width:100%;
                height: 80px;
                text-align: center;
                a{
                    color:#fff;
                    font-size: 28px;
                    &:hover{
                        background-color: transparent;
                        border-bottom: none;
                    }
                }
            }
        }
        ul.open{
            top:0;
        }
    }
}

#banner{
    display: flex;
    min-width:100%;
    overflow: hidden;
    height: 600px;
    position: relative;
    > .fa-chevron-circle-left{
        position: absolute;
        top: calc(50% - 21.1px);
        left: 20px;
        z-index: 99;
        font-size: 42px;
        color:#fff;
        opacity: .8;
        cursor: pointer;
    }
    > .fa-chevron-circle-right{
        position: absolute;
        top: calc(50% - 21.1px);
        right: 20px;
        z-index: 99;
        font-size: 42px;
        color:#fff;
        opacity: .8;
        cursor: pointer;
    }
    span{
        position: absolute;
        top: 250px;
        left:10%;
        z-index: 9999;
        color:#fff;
        text-shadow: black 0.1em 0.1em 0.2em;
        font-weight: 600;
        font-size: 36px;
    }
   .start{
        position: absolute;
        top: 360px;
        left:10%;
        display: block;
        width:180px;
        height: 60px;
        color:#fff;
        border:gold 2px solid;
        background-color: gold;
        text-align: center;
        line-height: 60px;
        border-radius: 8px;
        z-index: 9999;
        font-size: 21px;
        text-shadow: black 0.1em 0.1em 0.2em;
        font-weight: 600;
        &:hover{
            transform: translateX(10px);
            transition: all .5s ease;
        }
        
    }
    .imgslide{
        transition: all .5s ease;
        min-width:100%;
        height: 100%;
        img{
            object-fit: cover;
            min-width:100%;
            height: 100%;
        }
    }
    #dots{
        position: absolute;
        bottom:0;
        left:0;
        display: flex;
        justify-content: center;
        align-items: center;
        width:100%;
        height: 30px;
        background-color: transparent;
        > .dot{
            border-radius:50%;
            width:18px;
            height: 18px;
            color:#fff;
            display: block;
            background-color: #fff;
            cursor: pointer;
            margin: 0 5px;
        }
    }
}
section{
    padding: 50px 0;
    h1{
        width:100%;
        text-align: center;
        color:#1484c4;
        margin-bottom: 40px;
        font-size: 30px;
    }
}
#course{
    background-color: #30415D;
    > h1{
        width:100%;
        text-align: center;
        color:#EEC71C;
        
        font-size: 30px;
    }
    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width:960px){
            flex-direction: column;
        }
        > img{
            margin: 10px 50px;
            width:450px;
        }
        .contentText{
            font-family: '微軟正黑體';
            margin: 10px 50px;
            h2{
                font-size: 24px;
                color:#ff0;
                margin-bottom: 15px;
            }
            p{
                width:400px;
                color:#fff;
            }
        }
    }
}

#nurture{
    padding: 80px 0 150px 0;
    .content{
        .contentText{
            width:600px;
            margin:auto;
            font-family: "微軟正黑體";
            h2{
                color:#1484c4;
            }
        }
        .step{
            display: flex;
            justify-content: center;
            margin:auto;
            align-items: center;
            margin-top: 60px;
            .stepItem{
                display: flex;
                align-items: center;
                justify-content: center;
                > i{
                    font-size: 60px;
                    color:#E93A55;
                    
                }
                > div{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width:200px;
                    > i {
                        font-size: 60px;
                        color:#E93A55;
                        width:120px;
                        height: 120px;
                        text-align: center;
                        line-height: 120px;
                        border:1px #E93A55 solid;
                        border-radius: 50%;
                    }
                    > p {
                        font-size: 21px;
                        font-weight: 600;
                        color:#E93A55;
                        margin-top: 15px;
                    }
                }
            }
        }
    }
}

#site{
    background-color: #30415D;
    
    h1{
        color:#EEC71C;
    }
    a.seemore{
        display: block;
        width:150px;
        height: 50px;
        background-color: #EEC71C;
        color:#fff;
        text-align: center;
        line-height: 50px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        margin:auto;
        border-radius: 6px;
        &:hover{
            transform: scale(1.1);
            transition: .5s;
        }
    }
    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        > .siteItem{
            width:300px;
            height: 280px;
            margin:20px 30px;
            > .imgBox {
                width:300px;
                height: 200px;
                overflow: hidden;
                border-radius: 6px;
                >img{
                    width:100%;
                    height: 100%;
                    object-fit: cover;
                    cursor: pointer;
                    border-radius: 6px;
                    &:hover{
                        transform: scale(1.1);
                        transition: all .5s ease;
                    }
                }
            }
            > h2{
                text-align: center;
                color:#fff;
                margin-top: 10px;
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            }
        }
    }
}

#start{
    width: 100%;
    height: 600px;
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    h1{
        text-align: center;
        color:#FF876E;
        font-size: 50px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }
    .startBtn{
        display: block;
        width:200px;
        height: 50px;
        background-color: #FF876E;
        color:#fff;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        margin: auto;
        line-height: 50px;
        text-align: center;
        border-radius: 25px;
        font-size: 18px;
        &:hover{
            font-size:21px;
            transition: all .5s ease;
        }
    }
    >div{
        >img{
            width:800px;
        }
    }
}

footer{
    background-color: #3A3A3A;
    width:100%;
    height: 300px;
    color:#fff;
}